DATABASE_URL=postgres://postgres:postgres@localhost:5432/procedimentos
JWT_SECRET=troque-este-segredo
PORT=3333


MINIO_BUCKET="testes-internos"
MINIO_ENDPOINT="bucket.administracaopublica.com.br"
MINIO_USE_SSL="true"
MINIO_ACCESS_KEY="krp8HTxNQuR8JuvEe6tA"
MINIO_SECRET_KEY="8sMbhnMnBgF7uk68fUDl9pW5MKLosyyXnwBF2gM3"
MINIO_REGIAO="sp1-sd-jwcarneiro"
API_URL="http://localhost:8004/"